.navbar {
  border: none!important;
  box-shadow: none!important;
  border-radius: 0!important;
}

a {
  color: #252525
}

a:hover {
  color: grey
}

.ui.menu.secondary.pointing {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
